* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: 16rem;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100rem;
}

.left,
.right1 {
    display: flex;
    /* border: 2px solid black; */
    padding: 10rem;
}

.right {
    /* border: 2px solid black; */
    padding: 10rem;
    font-size: 20rem;
}

.head div p {
    font-size: 20rem;
    margin: 0 10rem;
}

i {
    padding: 5rem;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #339beb;
    width: 100%;
}

.logo {
    margin: 0 100rem;
    padding: 10rem;
}

.nav-items {
    display: flex;
    margin-right: 100rem;
}

.list-item {
    list-style: none;
}

.list-item a {
    text-decoration: none;
    font-size: 20rem;
    display: block;
    padding: 10rem;
    color: white;
    transition: 0.3s all ease-in-out;
}

.list-item a:hover {
    background-color: white;
    color: black;
    border-radius: 5rem;
}

.cover-image {
    display: flex;
    align-items: center;
    /* width: 100%; */
    height: 400rem;
    margin: 50px 0;
    padding: 0 10rem;
    overflow: hidden;
    justify-content: center;
}

.cover-image img {
    background-size: cover;
    width: 100%;
}

.text {
    width: 50%;
    margin: auto;
}

.text h3,
.title h3 {
    text-align: center;
    font-size: 25rem;
}

.text p,
.title p,
.para p {
    text-align: center;
    font-size: 16rem;
    padding: 20rem 0;
}

.heading {
    padding-left: 10rem;
    /* margin-top: 5%; */
    padding-top: 40rem;
}

.heading h1 {
    font-size: 30rem;
}

.main {
    background-color: #e8f0f6;
    padding: 40rem 110rem;
}

.card1,
.card2 {
    display: flex;
    align-items: center;
    padding: 20rem 0;
}

.card1 .vector img,
.card2 .vector img {
    width: 500rem;
}

.card1 .details {
    padding: 0 80px 0 0;
}

.details h3 {
    font-size: 25rem;
}

.details p,
.para {
    font-size: 20rem;
    padding: 30px 0;
    line-height: 40rem;
}

.card2 .details {
    padding: 0 0 0 80rem;
}

.card2 .details h3 {
    font-size: 25rem;
}

.card2 .details p {
    font-size: 20rem;
    padding: 30px 0;
    line-height: 40rem;
}

.box {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 0 10rem;
}

.box i {
    font-size: 15rem;
    background-color: #04365c;
    color: white;
    padding: 10rem;
}

.main1 {
    padding: 40rem 100rem;
}

.content {
    width: 90%;
    background-color: #e8f0f6;
    display: inline-block;
    padding: 9rem 36rem;
    font-size: 20rem;
}

.main-container {
    display: flex;
}

.inner-container {
    width: 100%;
}

.content1 {
    width: 100%;
    background-color: #e8f0f6;
    display: inline-block;
    padding: 9rem 36rem;
    font-size: 20rem;
}

.para {
    width: 50%;
    margin: 0 400rem;
    line-height: 30rem;
}

.btn {
    background-color: #04365c;
    color: white;
    font-size: 20rem;
    padding: 15rem;
    margin: 20rem 0 0 260rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #04365c;
    width: 100%;
    color: white;
    padding: 10rem 10rem;
}

.right1 {
    margin: 0 100rem;
}

.left1 {
    margin: 0 100rem;
}

.right1 p {
    margin: 0 5rem;
}

@media(max-width:1200px) {
    * {
        font-size: .8px;
    }
    .logo img {
        width: 80%;
    }
    .list-item a {
        padding: 18rem;
    }
    .main {
        padding: 40rem 110rem;
    }
    .card1,
    .card2 {
        padding: 20rem 0;
    }
    .card1 .vector img,
    .card2 .vector img {
        width: 400rem;
    }
    .details p,
    .para {
        padding: 20rem 0;
        line-height: 30rem;
    }
    .card2 .details p {
        padding: 20rem 0;
        line-height: 30rem;
    }
    .para {
        margin: 0 300rem;
        line-height: 30rem;
    }
    .btn {
        background-color: #04365c;
        color: white;
        font-size: 20rem;
        padding: 15rem;
        margin: 20rem 0 0 210rem;
    }
}

@media(max-width:786px) {
    * {
        font-size: .7px;
    }
    .nav-bar {
        flex-direction: column;
        padding: 10rem;
    }
    .logo {
        margin: auto;
        padding: 10rem 0;
        padding-left: 10%;
    }
    .logo img {
        margin: auto;
        width: 60%;
    }
    .nav-brand {
        width: 80%;
    }
    .nav-items {
        margin: 0;
        justify-content: space-between;
    }
    .list-item a {
        padding: 18rem;
    }
    .text {
        width: 80%;
    }
    .main {
        padding: 40rem 110rem;
    }
    .card1,
    .card2 {
        padding: 20rem 0;
    }
    .card1 .vector img,
    .card2 .vector img {
        width: 400rem;
    }
    .details p,
    .para {
        padding: 20rem 0;
        line-height: 30rem;
    }
    .card2 .details p {
        padding: 20rem 0;
        line-height: 30rem;
    }
    .para {
        margin: 0 250rem;
        line-height: 30rem;
    }
    .btn {
        background-color: #04365c;
        color: white;
        font-size: 16rem;
        padding: 15rem;
        margin: 20rem 0 0 170rem;
    }
    .footer .right1 {
        margin: 0 80rem;
    }
    .footer .left1 {
        margin: 0 80rem;
    }
    .cover-image {
        display: flex;
        align-items: center;
        height: 200rem;
        margin: 40rem 0;
        padding: 0 10rem;
        overflow: hidden;
        justify-content: center;
    }
    .heading {
        padding-left: 10rem;
        padding-top: 0;
    }
}

@media(max-width:540px) {
    * {
        font-size: .7px;
    }
    .head {
        /* flex-direction: column; */
        margin: 0 65rem;
    }
    .nav-bar {
        flex-direction: column;
        padding: 0;
    }
    .logo {
        margin: auto;
        padding: 10rem 0;
        padding-left: 20%;
    }
    .logo img {
        margin: auto;
        width: 50%;
    }
    .nav-brand {
        width: 100%;
    }
    .nav-items {
        align-items: center;
        margin: 0;
        justify-content: space-between;
    }
    .list-item a {
        padding: 10rem;
    }
    .text {
        width: 80%;
    }
    .main {
        padding: 40rem 110rem;
    }
    .card1 {
        flex-direction: column;
        padding: 20rem 0;
    }
    .card2 {
        flex-direction: column-reverse;
    }
    .card1 .vector img,
    .card2 .vector img {
        width: 400rem;
    }
    .card1 .details {
        padding: 0 0 0 70rem;
    }
    .details p {
        padding: 20rem 0;
        line-height: 30rem;
    }
    .card2 .details p {
        padding: 20rem 0;
        line-height: 30rem;
    }
    .content,
    .content1 {
        width: 100%;
        padding: 9rem 16rem;
    }
    .para {
        margin: 0 180rem;
        line-height: 30rem;
    }
    .para p {
        text-align: justify;
    }
    .btn {
        background-color: #04365c;
        color: white;
        font-size: 15rem;
        padding: 15rem;
        margin: 10rem 0 0 85rem;
    }
    .footer {
        flex-direction: column;
    }
    .footer .right1 {
        margin: 0 80rem;
    }
    .footer .left1 {
        margin: 0 80rem;
        padding: 10rem 0;
    }
}

@media(max-width:425px) {
    * {
        font-size: .6px;
    }
    .head {
        flex-direction: column;
        /* margin: 0 65rem; */
    }
    .nav-bar {
        flex-direction: column;
        padding: 0;
    }
    .logo {
        margin: auto;
        padding: 10rem 0;
        padding-left: 20%;
    }
    .logo img {
        margin: auto;
        width: 50%;
    }
    .nav-brand {
        width: 100%;
    }
    .nav-items {
        flex-direction: row;
        align-items: center;
        margin: 0;
        justify-content: space-between;
    }
    .list-item a {
        padding: 10rem;
    }
    .text {
        width: 80%;
    }
    .main {
        padding: 40rem 110rem;
    }
    .card1 {
        flex-direction: column;
        padding: 20rem 0;
    }
    .card2 {
        flex-direction: column-reverse;
    }
    .card1 .vector img,
    .card2 .vector img {
        width: 400rem;
    }
    .card1 .details {
        padding: 0 0 0 70rem;
    }
    .details p {
        padding: 10rem 0;
        line-height: 30rem;
    }
    .card2 .details p {
        padding: 20rem 0;
        line-height: 30rem;
    }
    .main-container {
        flex-direction: column;
    }
    .box {
        margin: 5rem 0;
    }
    .content {
        width: 100%;
    }
    .content p {
        text-align: center;
    }
    .content1 p {
        text-align: center;
    }
    .para {
        margin: 0 180rem;
        line-height: 30rem;
    }
    .para p {
        text-align: justify;
    }
    .btn {
        background-color: #04365c;
        color: white;
        font-size: 20rem;
        padding: 15rem;
        margin: 10rem 0 0 60rem;
    }
    .footer {
        flex-direction: column;
    }
    .footer .right1 {
        margin: 0 80rem;
    }
    .footer .left1 {
        margin: 0 80rem;
        padding: 10rem 0;
    }
    .cover-image {
        display: flex;
        align-items: center;
        height: 150rem;
        margin: 40rem 0;
        padding: 0 10rem;
        overflow: hidden;
        justify-content: center;
    }
    .heading {
        padding-left: 10rem;
        padding-top: 0;
    }
}

@media(max-width:375px) {
    * {
        font-size: .5px;
    }
    .head {
        flex-direction: column;
        margin: 0 65rem;
    }
    .nav-bar {
        flex-direction: column;
        padding: 0;
    }
    .logo {
        margin: auto;
        padding: 10rem 0;
        padding-left: 20%;
    }
    .logo img {
        margin: auto;
        width: 50%;
    }
    .nav-brand {
        width: 100%;
    }
    .nav-items {
        flex-direction: row;
        align-items: center;
        margin: 0;
        justify-content: space-between;
    }
    .list-item a {
        padding: 10rem;
    }
    .text {
        width: 80%;
    }
    .main {
        padding: 40rem 110rem;
    }
    .card1 {
        flex-direction: column;
        padding: 20rem 0;
    }
    .card2 {
        flex-direction: column-reverse;
    }
    .card1 .vector img,
    .card2 .vector img {
        width: 400rem;
    }
    .card1 .details {
        padding: 0 0 0 70rem;
    }
    .details p {
        padding: 10rem 0;
        line-height: 30rem;
    }
    .card2 .details p {
        padding: 20rem 0;
        line-height: 30rem;
    }
    .main-container {
        flex-direction: column;
    }
    .content {
        width: 100%;
    }
    .content p {
        text-align: center;
    }
    .content1 p {
        text-align: center;
    }
    .box {
        margin: 5rem 0;
    }
    .para {
        margin: 0 180rem;
        line-height: 30rem;
    }
    .para p {
        text-align: justify;
    }
    .btn {
        background-color: #04365c;
        color: white;
        font-size: 20rem;
        padding: 15rem;
        margin: 10rem 0 0 60rem;
    }
    .footer {
        flex-direction: column;
    }
    .footer .right1 {
        margin: 0 80rem;
    }
    .footer .left1 {
        margin: 0 80rem;
        padding: 10rem 0;
    }
    .cover-image {
        display: flex;
        align-items: center;
        height: 150rem;
        margin: 40rem 0;
        padding: 0 10rem;
        overflow: hidden;
        justify-content: center;
    }
    .heading {
        padding-left: 10rem;
        padding-top: 0;
    }
}

@media(max-width:320px) {
    * {
        font-size: .5px;
    }
    .head {
        flex-direction: column;
        /* margin: 0 45rem; */
    }
    .nav-bar {
        flex-direction: column;
        padding: 0;
    }
    .logo {
        margin: auto;
        padding: 10rem 0;
        padding-left: 30%;
    }
    .logo img {
        margin: auto;
        width: 50%;
    }
    .nav-brand {
        width: 100%;
    }
    .nav-items {
        flex-direction: row;
        align-items: center;
        margin: 0;
        justify-content: space-between;
    }
    .list-item a {
        padding: 10rem;
    }
    .text {
        width: 80%;
    }
    .main {
        padding: 40rem 110rem;
    }
    .card1 {
        flex-direction: column;
        padding: 20rem 0;
    }
    .card2 {
        flex-direction: column-reverse;
    }
    .card1 .vector img,
    .card2 .vector img {
        width: 400rem;
    }
    .card1 .details {
        padding: 0 0 0 70rem;
    }
    .details p {
        padding: 10rem 0;
        line-height: 30rem;
    }
    .card2 .details p {
        padding: 20rem 0;
        line-height: 30rem;
    }
    .main-container {
        flex-direction: column;
    }
    .content {
        width: 100%;
    }
    .content p {
        text-align: center;
    }
    .content1 p {
        text-align: center;
    }
    .para {
        margin: 0 180rem;
        line-height: 30rem;
    }
    .para p {
        text-align: justify;
    }
    .btn {
        background-color: #04365c;
        color: white;
        font-size: 15rem;
        padding: 15rem;
        margin: 10rem 0 0 45rem;
    }
    .footer {
        flex-direction: column;
    }
    .footer .right1 {
        margin: 0 80rem;
    }
    .footer .left1 {
        margin: 0 80rem;
        padding: 10rem 0;
    }
    .cover-image {
        display: flex;
        align-items: center;
        height: 150rem;
        margin: 40rem 0;
        padding: 0 10rem;
        overflow: hidden;
        justify-content: center;
    }
    .heading {
        padding-left: 10rem;
        padding-top: 0;
    }
}

@media(max-width:280px) {
    * {
        font-size: .4px;
    }
    .head {
        /* flex-direction: column; */
        margin: 0 65rem;
    }
    .nav-bar {
        flex-direction: column;
        padding: 0;
    }
    .logo {
        margin: auto;
        padding: 10rem 0;
        padding-left: 30%;
    }
    .logo img {
        margin: auto;
        width: 50%;
    }
    .nav-brand {
        width: 100%;
    }
    .nav-items {
        flex-direction: row;
        align-items: center;
        margin: 0;
        justify-content: space-between;
    }
    .list-item a {
        padding: 10rem;
    }
    .text {
        width: 80%;
    }
    .main {
        padding: 40rem 110rem;
    }
    .card1 {
        flex-direction: column;
        padding: 20rem 0;
    }
    .card2 {
        flex-direction: column-reverse;
    }
    .card1 .vector img,
    .card2 .vector img {
        width: 400rem;
    }
    .card1 .details {
        padding: 0 0 0 70rem;
    }
    .details p {
        padding: 10rem 0;
        line-height: 30rem;
    }
    .card2 .details p {
        padding: 20rem 0;
        line-height: 30rem;
    }
    .main-container {
        flex-direction: column;
    }
    .content {
        width: 100%;
    }
    .content p {
        text-align: center;
    }
    .content1 p {
        text-align: center;
    }
    .para {
        margin: 0 180rem;
        line-height: 30rem;
    }
    .para p {
        text-align: justify;
    }
    .btn {
        background-color: #04365c;
        color: white;
        font-size: 20rem;
        padding: 15rem;
        margin: 10rem 0 0 60rem;
    }
    .footer {
        flex-direction: column;
    }
    .footer .right1 {
        margin: 0 80rem;
    }
    .footer .left1 {
        margin: 0 80rem;
        padding: 10rem 0;
    }
    .cover-image {
        display: flex;
        align-items: center;
        height: 200rem;
        margin: 50rem 0;
        padding: 0 10rem;
        overflow: hidden;
        justify-content: center;
    }
    .heading {
        padding-left: 10rem;
        padding-top: 0;
    }
}